@import "tailwindcss";

@theme {
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 992px;
    --breakpoint-desktop: 1440px;
    --breakpoint-desktop-xl: 1919px;

    --header-h: 89px;

    --font-montserrat: Montserrat, sans-serif;
    --font-scada: var(--font-scada), sans-serif;
    --font-roboto: var(--font-roboto), sans-serif;
    --font-roboto-condensed: var(--font-robotoCondensed), sans-serif;

    --shadow-switcher: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    --color-main-bg: #f8faf9;
    --color-brand-green: #4ade80;
    --color-brand-orange: #fb923c;
    --color-brand-dark: #1f2937;
    --color-brand-gray: #a1a1aa;
    --color-brand-teal: #00cc96;
    --color-brand-forest: #2b3a31;
    --color-brand-green-hover: #86efac;
    --color-brand-green-active: #16a34a;
    --color-brand-orange-hover: #fdba74;
    --color-brand-orange-active: #ea580c;

    --background-gradient: radial-gradient(
        ellipse at center,
        #ecfdf5 0%,
        #ecfdf5 42%,
        #d1fae5 100%
    );

    --animate-fade-in: fade-in 300ms ease-out forwards;
    --animate-fade-out: fade-out 300ms ease-in forwards;
    --animate-fade-in-opacity: fade-in-opacity 300ms ease-out forwards;
    --animate-fade-out-opacity: fade-out-opacity 300ms ease-in forwards;

    @keyframes fade-in {
        from {
            width: 0;
        }
        to {
            width: min(400px, 100vw);
        }
    }

    @keyframes fade-out {
        from {
            width: min(400px, 100vw);
        }
        to {
            width: 0;
        }
    }
    @keyframes fade-in-opacity {
        from {
            opacity: 0;
        }
        to {
            opacity: 100%;
        }
    }
    @keyframes fade-out-opacity {
        from {
            opacity: 100%;
        }
        to {
            opacity: 0;
        }
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@layer components {
    * {
        @apply font-roboto box-border text-base font-normal text-inherit;
    }
    input {
        @apply outline-none;
    }
}

@layer utilities {
    .bg-page {
        background: var(--background-gradient);
    }
}

body {
    @apply bg-main-bg text-brand-dark font-sans antialiased;
}

.container-app {
    @apply w-full px-2;
}

@media (min-width: 768px) {
    .container-app {
        @apply px-6;
    }
}

@media (min-width: 1024px) {
    .container-app {
        @apply px-8;
    }
}

@media (min-width: 1440px) {
    .container-app {
        @apply px-0 max-w-[1168px] mx-auto;
    }
}

@media (min-width: 1919px) {
    .container-app {
        @apply max-w-[1736px];
    }
}
